  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    background-color:#80BD9E;
    background: url("../images/alternate.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  #header{
    background-color: slategray;
    opacity: .90;
    padding: 5px;
    margin-bottom: 0px;
  }

  /* img{
    height: 200px;
    width: 200px;
  } */

  #planRange{
      background-color: slategray;
      opacity: .90;
      padding: 5px;
      margin-bottom: 0px;
  }

  #subheader{
    background-color: slategray;
    opacity: .90;
    padding: 5px;
    margin-top:0px;
  }

  footer{
    background-color: slategray;
    opacity: .90;
    align-content: center;
    padding: 5px;
    margin-top: 0px;
  }

  .container{
    background-color: slategray;
    /* display: inline-block; */
    /* position: relative; */
    margin: 0 auto; 
    width: 500px;
    overflow: auto;
    padding-top: 8px;
    border-radius: 25px;    
    margin-top: 20px;
    align-content: center;
    opacity: .90;
  }

  /* .navbar{
    background-color: slategray;
    opacity: .90;
    display: inline-block;
  } */

  /* .navbar_brand{
    color: black;
  } */

  a{
    color: black;
  }

  .row{
    width: 500px;
    padding: 20px;
  }

  .btn-default{
    background-color: lightgray;
    border-radius: 25px;
  }

  button .dietButton .cuisineButton #recipeSearch{
    background-color: lightgray;
    border-radius: 25px;
  }

  /* #header{
    margin-top: 0px;
    padding-top: 0px;
  } */